@tailwind base;
@tailwind components;
@tailwind utilities;


.fontFam{
font-family: 'Cormorant Upright', serif
}
.swiper-pagination{
color: #F5EFDB;
}
@media screen and(max-width:768px){
    .swiper-pagination{
        margin-left: -150px;
    }
}
.swiper-button-prev{
    color:#dcca87 !important;
}
.swiper-button-next{
    color:#dcca87 !important;
}
.Hurricane{
font-family: 'Hurricane', cursive;
}
.OpenSans{
font-family: 'Open Sans', sans-serif;
}